* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.body {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  margin: 5px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

}

.header {
  display: flex;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}

.header__photo_img {
  display: block;
  height: 300px;
  width: 300px;
  margin: 10px 10px 10px 10px;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.header__title_name {
  padding: 5px 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.15em;
  word-spacing: 0.4em;
  border-bottom: 2px solid white;
}

.header__title_major {
  padding: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.15em;
  word-spacing: 0.4em;
}

.main {
  display: flex;
}

.aside {
  padding: 20px 10px;
  width: 320px;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}

.contacts,
.languages {
  width: 300px;
  margin-bottom: 50px;
}

.aside__title {
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-left: 10px solid rgb(49, 105, 174);
  border-bottom: 1px solid rgb(49, 105, 174);
}

.contacts__list,
.languages__list {
  list-style: none;
}

.contacts__list_item,
.languages__list_item {
  padding: 0 0 5px 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.contacts__list_item-value,
.languages__list_item-value {
  color: rgb(49, 105, 174);
}

.main__content {
  max-width: 880px;
  /* flex-grow: 1; */
  padding: 25px 25px 10px 25px;
}

.main__title {
  margin-bottom: 15px;
  padding-left: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  background-color: rgba(36, 36, 36, 0.25);
  background-color: rgba(49, 105, 174, 0.25);
}

.about,
.education,
.skills,
.code {
  margin-bottom: 45px;
}

.experience {
  margin-bottom: 20px;
}

.about__content {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.education__list,
.education__major,
.skills__list {
  list-style: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.education__list_item {
  margin-bottom: 10px;
}

.education__major_item {
  padding-left: 15px;
  font-weight: 400;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
}

.skills__list_item {
  width: 50%;
  margin-bottom: 8px;
  padding-left: 30px;
  line-height: 25px;
}

.skills__html {
  background: url('../img/svg/html-5-logo-svgrepo-com.svg') no-repeat;
}

.skills__css {
  background: url('../img/svg/css-3-svgrepo-com.svg') no-repeat;
}

.skills__scss {
  background: url('../img/svg/scss-svgrepo-com.svg') no-repeat;
}

.skills__js {
  background: url('../img/svg/logo-javascript.svg') no-repeat;
}

.skills__ts {
  background: url('../img/svg/typescript.svg') no-repeat;
}

.skills__git {
  background: url('../img/svg/git-icon.svg') no-repeat;
}

.skills__github {
  background: url('../img/svg/github-icon-1.svg') no-repeat;
}

.skills__wp {
  background: url('../img/svg/webpack-icon.svg') no-repeat;
}

.skills__node {
  background: url('../img/svg/nodejs-icon.svg') no-repeat;
}

.skills__figma {
  background: url('../img/svg/figma-svgrepo-com.svg') no-repeat;
}

.code__example {
  display: block;
  margin: 0 auto;
}

.experience__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px;
}

.experience__content_item {
  width: 45%;
  margin-bottom: 40px;
}

.experience__content_link {
  text-decoration: none;
  color: #000000;
}

.experience__content_cover {
  margin-bottom: 5px;
}

.experience__cover {
  display: block;
  width: 100%;
  border: 3px solid rgba(36, 36, 36, 0.15);
  transition: 0.5s;
}

.experience__cover:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 8px 5px rgba(36, 36, 36, 0.20);;
}

.experience__content_title {
  position: relative;
  padding-left: 15px;
  padding-bottom: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.experience__content_title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 3px;
  background-color: rgba(36, 36, 36, 0.25);
  transition: 1s;
}

.experience__content_title-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(49, 105, 174);
  transition: 1s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate_container {
  width: 800px;
  height: 563px;
}

.certificate {
  display: block;
  width: 800px;
  height: 563px;
}

@media (max-width: 1024px) {
  .header__title_name {
    font-size: 36px;
  }
  
  .header__title_major {
    font-size: 28px;
  }

  .certificate_container {
    width: 600px;
    height: 422px;
  }
  
  .certificate {
    display: block;
    width: 600px;
    height: 422px;
  }
}

@media (max-width: 900px) {
  .header__title_name {
    font-size: 32px;
    letter-spacing: 0.05em;
    word-spacing: 0.2em;
  }
  
  .header__title_major {
    font-size: 24px;
  }

  .code__example {
    width: 390px;
    height: 125px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .header__photo_img {
    margin: 10px auto 10px auto;
  }

  .main {
    flex-direction: column;
  }
  
  .aside {
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: 2;
    padding: 20px 10px 0 10px;
  }

  .contacts {
    order: 2;
  }

  .languages {
    order: 1;
  }
  
  .main__content {
    padding: 10px 10px 10px 10px;
    order: 1;
  }

  .certificate_container {
    width: 400px;
    height: 282px;
  }
  
  .certificate {
    display: block;
    width: 400px;
    height: 282px;
  }
}

@media (max-width: 650px) {
  .aside {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .header__title_name {
    font-size: 28px;
    letter-spacing: 0;
    word-spacing: 0;
  }
  
  .header__title_major {
    font-size: 22px;
    letter-spacing: 0;
    word-spacing: 0;
  }

  .about__content {
    font-size: 16px;
  }

  .education__list,
  .education__major,
  .skills__list {
    font-size: 16px;
  }

  .skills__list {
    padding-left: 25px;
  }

  .skills__list_item {
    width: 100%;
  }

  .code__example {
    width: 300px;
    height: 96px;
  }

  .experience__content {
    justify-content: center;
    padding: 0 15px;
  }
  
  .experience__content_item {
    width: 80%;
    margin-bottom: 40px;
  }

  .certificate_container {
    width: 260px;
    height: 183px;
  }
  
  .certificate {
    display: block;
    width: 260px;
    height: 183px;
  }
}

@media (max-width: 375px) {
  .header__title {
    padding: 5px;
  }

  .header__title_name {
    font-size: 26px;
  }
  
  .header__title_major {
    font-size: 20px;
  }

  .experience__content_item {
    width: 90%;
  }
}