* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.body {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  margin: 5px auto;
}

.header {
  display: flex;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}

.header__photo_img {
  display: block;
  height: 300px;
  width: 300px;
  margin: 10px 10px 10px 10px;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.header__title_name {
  padding: 5px 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.15em;
  word-spacing: 0.4em;
  border-bottom: 2px solid white;
}

.header__title_major {
  padding: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.15em;
  word-spacing: 0.4em;
}

.main {
  display: flex;
}

.aside {
  padding: 20px 10px;
  width: 320px;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}

.contacts,
.languages {
  margin-bottom: 30px;
}

.asside__title {
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-left: 10px solid rgb(49, 105, 174);
  border-bottom: 1px solid rgb(49, 105, 174);
}

.contacts__list,
.languages__list {
  list-style: none;
}

.contacts__list_item,
.languages__list_item {
  padding: 0 0 5px 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.contacts__list_item-value,
.languages__list_item-value {
  color: rgb(49, 105, 174);
}